import("splines", "date", "survival", "relsurv", "timereg")
importFrom("stats", "binomial", "glm", "lm", "quantile", "update.formula")
export("AUC", "crude.ROCt", "net.ROCt", "adjusted.ROC", "adjusted.ROCt", "EUt1", "EUt2")
